{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
<!--	<link rel="icon" href="{% static 'assets/images/8.png' %}" type="image/png" />-->
    <!--plugins-->
    <link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet"/>
    <!-- loader-->
    <link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/js/pace.min.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
    {% block css %}

    {% endblock css %}
    <title>Sport app admin</title>
</head>

<body>
<!--wrapper-->
<div class="wrapper">
    <!--sidebar wrapper -->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="/static/users/images/logo/1111.png" height="50px" style="margin-left: 50px;" alt="">
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'home' %}">
                    <div class="parent-icon"><i class='bx bxs-dashboard'></i>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'sport-object' %}">
                        <div class="parent-icon"><i class="bx bx-building"></i>
                        </div>
                        <div class="menu-title">Sprot obyektlari</div>
                    </a>
                </li>
                {% else %}
                    {% if choised_objects %}
                    <li>
                        <a href="javascript:;" class="has-arrow">
                            <div class="parent-icon"><i class="bx bx-category"></i>
                            </div>
                            <div class="menu-title">A`zo bo`lgan sport turlari</div>
                        </a>
                        <ul>
                                {% for object in choised_objects %}
                                <li> <a href="{% url 'detail_url' object.id %}"><i class="bx bx-right-arrow-alt"></i>{{object.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>



                        <li class="">
                            <a href="javascript:;" class="has-arrow" aria-expanded="false">
                                <div class="parent-icon"><i class="bx bx-category"></i>
                                </div>
                                <div class="menu-title">Application</div>
                            </a>
                            <ul class="mm-collapse" style="height: 2px;">
                                <li> <a href="app-emailbox.html"><i class="bx bx-right-arrow-alt"></i>Email</a>
                                </li>
                                <li> <a href="app-chat-box.html"><i class="bx bx-right-arrow-alt"></i>Chat Box</a>
                                </li>
                                <li> <a href="app-file-manager.html"><i class="bx bx-right-arrow-alt"></i>File Manager</a>
                                </li>
                                <li> <a href="app-contact-list.html"><i class="bx bx-right-arrow-alt"></i>Contatcs</a>
                                </li>
                                <li> <a href="app-to-do.html"><i class="bx bx-right-arrow-alt"></i>Todo List</a>
                                </li>
                                <li> <a href="app-invoice.html"><i class="bx bx-right-arrow-alt"></i>Invoice</a>
                                </li>
                                <li> <a href="app-fullcalender.html"><i class="bx bx-right-arrow-alt"></i>Calendar</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endif %}
            <li>
            	<a href="https://themeforest.net/user/codervent" target="_blank">
            		<div class="parent-icon"><i class="bx bx-support"></i>
            		</div>
            		<div class="menu-title">Support</div>
            	</a>
            </li>
        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar wrapper -->
    <!--start header -->
    <header>
        <div class="topbar d-flex align-items-center">
            <nav class="navbar navbar-expand">
                <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
                </div>
                <div class="top-menu ms-auto">
                    <div class="user-box dropdown">
                        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'assets/images/user.jpg' %}" class="user-img"
                                 alt="user avatar">
                            {% if user.is_authenticated %}
                            <div class="user-info ps-3">
                                <p class="user-name mb-0">{{user.username}}</p>
                                <p class="designattion mb-0"></p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:;"><i
                                    class="bx bx-user"></i><span>Profile</span></a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:;"><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
                            </li>
                            <li>
                                <div class="dropdown-divider mb-0"></div>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class='bx bx-log-out-circle'></i><span>Chiqish</span></a>
                                {% else %}
                                <div class="user-info ps-3">
                                    <p class="user-name mb-0">Aliyev</p>
                                    <p class="designattion mb-0"></p>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#"><i
                                        class="bx bx-user"></i><span>Ro`yxatdan o`tish</span></a>
                                </li>
                                <li>
                                    <div class="dropdown-divider mb-0"></div>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'login' %}"><i class='bx bx-log-out-circle'></i><span>Kirish</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </header>
    <!--end header -->
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>

    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <footer class="page-footer">
        <p class="mb-0">Andijan © Digital City  2021 </p>
    </footer>
</div>

<!--end switcher-->
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'users/js/modernizr.custom.79639.js' %}"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'users/js/jquery-1.11.2.min.js' %}"></script>


<!-- Bootstrap Plugins -->
<script src="{% static 'users/users/js/bootstrap.min.js' %}"></script>

<!-- Retina Plugin -->
<script src="{% static 'users/js/retina.min.js' %}"></script>

<!-- ScrollReveal Plugin -->
<script src="{% static 'users/js/scrollReveal.min.js' %}"></script>

<!-- Flex Menu Plugin -->
<script src="{% static 'users/js/jquery.flexmenu.js' %}"></script>

<!-- Slider Plugin -->
<script src="{% static 'users/js/jquery.ba-cond.min.js' %}"></script>
<script src="{% static 'users/js/jquery.slitslider.js' %}"></script>

<!-- Carousel Plugin -->
<script src="{% static 'users/js/owl.carousel.min.js' %}"></script>

<!-- Parallax Plugin -->
<script src="{% static 'users/js/parallax.js' %}"></script>

<!-- Counterup Plugin -->
<script src="{% static 'users/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'users/js/waypoints.min.js' %}"></script>

<!-- No UI Slider Plugin -->
<script src="{% static 'users/js/jquery.nouislider.all.min.js' %}"></script>

<!-- Bootstrap Wysiwyg Plugin -->
<script src="{% static 'users/js/bootstrap3-wysihtml5.all.min.js' %}"></script>

<!-- Flickr Plugin -->
<script src="{% static 'users/js/jflickrfeed.min.js' %}"></script>

<!-- Fancybox Plugin -->
<script src="{% static 'users/js/fancybox.pack.js' %}"></script>

<!-- Magic Form Processing -->
<script src="{% static 'users/js/magic.js' %}"></script>

<!-- jQuery Settings -->
<script src="{% static 'users/js/settings.js' %}"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="assets/plugins/chartjs/js/Chart.min.js"></script>
<script src="assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
<script src="assets/plugins/jquery-knob/excanvas.js"></script>
<script src="assets/plugins/jquery-knob/jquery.knob.js"></script>
  <script>
      $(function() {
          $(".knob").knob();
      });
  </script>
  <script src="assets/js/index.js"></script>
<!--app JS-->
<script src="assets/js/app.js"></script>
<!--app JS-->
{% block js %}

{% endblock js %}
<script src="{% static 'assets/js/app.js' %}"></script>

</body>
</html>