{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
<!--	<link rel="icon" href="{% static 'assets/images/8.png' %}" type="image/png" />-->
    <!--plugins-->
    <link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet"/>
    <!-- loader-->
    <link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/js/pace.min.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
    {% block css %}

    {% endblock css %}
    <title>Sport app admin</title>
</head>

<body>
<!--wrapper-->
<div class="wrapper">
    <!--sidebar wrapper -->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="/static/users/images/logo/1111.png" height="50px" style="margin-left: 50px;" alt="">
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'home' %}">
                    <div class="parent-icon"><i class='bx bxs-dashboard'></i>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a>
            </li>
            <li>
                <a href="{% url 'sport-object' %}">
                    <div class="parent-icon"><i class="bx bx-building"></i>
                    </div>
                    <div class="menu-title">Sprot obyektlari</div>
                </a>
            </li>
            {#				<li>#}
            {#					<a href="https://themeforest.net/user/codervent" target="_blank">#}
            {#						<div class="parent-icon"><i class="bx bx-support"></i>#}
            {#						</div>#}
            {#						<div class="menu-title">Support</div>#}
            {#					</a>#}
            {#				</li>#}
        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar wrapper -->
    <!--start header -->
    <header>
        <div class="topbar d-flex align-items-center">
            <nav class="navbar navbar-expand">
                <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
                </div>
                <div class="top-menu ms-auto">
                    <div class="user-box dropdown">
                        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'assets/images/user.jpg' %}" class="user-img"
                                 alt="user avatar">
                            {% if user.is_authenticated %}
                            <div class="user-info ps-3">
                                <p class="user-name mb-0">{{user.username}}</p>
                                <p class="designattion mb-0"></p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:;"><i
                                    class="bx bx-user"></i><span>Profile</span></a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:;"><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
                            </li>
                            <li>
                                <div class="dropdown-divider mb-0"></div>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class='bx bx-log-out-circle'></i><span>Chiqish</span></a>
                                {% else %}
                                <div class="user-info ps-3">
                                    <p class="user-name mb-0">Aliyev</p>
                                    <p class="designattion mb-0"></p>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#"><i
                                        class="bx bx-user"></i><span>Ro`yxatdan o`tish</span></a>
                                </li>
                                <li>
                                    <div class="dropdown-divider mb-0"></div>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'login' %}"><i class='bx bx-log-out-circle'></i><span>Kirish</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </header>
    <!--end header -->
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>

    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <footer class="page-footer">
        <p class="mb-0">Copyright © 2021. All right reserved.</p>
    </footer>
</div>

<!--end switcher-->
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<!--app JS-->
{% block js %}

{% endblock js %}
<script src="{% static 'assets/js/app.js' %}"></script>

</body>

</html>