{% extends 'base.html' %}
{% block content %}
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Sport App</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Sport Obyektlari</li>
							</ol>
						</nav>
					</div>

				</div>
				<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
					<div class="col">
						<div class="card radius-10 bg-info bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Umumiy sport obyektlari</p>
										<h4 class="my-1 text-white">{{category}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="fadeIn animated bx bx-news"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="card radius-10 bg-warning bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-light">Faol obyektlar</p>
										<h4 class="text-light my-1">{{active}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto">	<i class="lni lni-checkmark"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10 bg-danger bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Nofaol obyektlar</p>
										<h4 class="my-1 text-white">{{false}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="fadeIn animated bx bx-x"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% for cat in cat_lists%}
					<div class="col">
						<div class="card radius-10 bg-{{cat.color}}">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white"><b>{{cat.name}}</b> sport turi bo`yicha obyektlar</p>
										<p class="mb-0 font-13 text-light"><i class="bx bxs-down-arrow align-middle"></i></p>
										<h4 class="my-1 text-white">{{cat.obj_count}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="fadeIn animated bx bx-news"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
				<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
					<div class="col">
						<a href="{% url 'order-new-url' %}">
						<div class="card radius-10 bg-info bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Yangi buyurtmalar</p>
										<h4 class="my-1 text-white">{{new}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="fadeIn animated bx bx-news"></i>
									</div>
								</div>
							</div>
						</div>
						</a>
					</div>
					<div class="col">
						<a href="{% url 'order-accepted-url' %}">
						<div class="card radius-10 bg-success bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Qabul qilingan buyurtmalar</p>
										<h4 class="my-1 text-white">{{accepted}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="fadeIn animated bx bx-news"></i>
									</div>
								</div>
							</div>
						</div>
					</a>
					</div>
					<div class="col">
						<a href="{% url 'order-not-accepted-url' %}">
						<div class="card radius-10 bg-danger bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Qabul qilinmagan buyurtmalar</p>
										<h4 class="my-1 text-white">{{not_accepted}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="fadeIn animated bx bx-news"></i>
									</div>
								</div>
							</div>
						</div>
					</a>
					</div>
				</div>
{% endblock content %}