{% extends 'base.html' %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
					<div class="col">
						<div class="card radius-10 bg-primary bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Yangi sport obyektlari</p>
										<h4 class="my-1 text-white">110</h4>
									</div>
									<div class="widgets-icons bg-white text-primary ms-auto"><i class="fadeIn animated bx bx-news"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10 bg-danger bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Umumiy sport obyektlari soni</p>
										<h4 class="my-1 text-white">{{object}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class='bx bx-line-chart-down'></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10 bg-warning bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-dark">Faol obyektlar</p>
										<h4 class="text-dark my-1">{{active}}</h4>
									</div>
									<div class="text-dark ms-auto font-35">	<i class="lni lni-checkmark"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10 bg-success bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Nofaol obyektlar</p>
										<h4 class="my-1 text-white">{{false}}</h4>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="fadeIn animated bx bx-x"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10 bg-danger">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Yangi sport turlari</p>
										<h4 class="my-1 text-white">210</h4>
										<p class="mb-0 font-13 text-white"><i class="bx bxs-down-arrow align-middle"></i>$34 from last week</p>
									</div>
									<div class="widgets-icons bg-white text-danger ms-auto"><i class="fadeIn animated bx bx-news"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10 bg-warning">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-dark">Umumiy sport turlari</p>
										<h4 class="my-1 text-dark">{{category}}</h4>
										<p class="mb-0 font-13 text-dark"><i class="bx bxs-down-arrow align-middle"></i>12.2% from last week</p>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class='bx bx-line-chart-down'></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10 bg-success">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Yangi foydalanuvchilar</p>
										<h4 class="my-1 text-white"></h4>
										<p class="mb-0 font-13 text-dark"><i class="bx bxs-up-arrow align-middle"></i>$24 from last week</p>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="bx bxs-group"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10 bg-info">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-dark">Umumiy foydalanuvchilar</p>
										<h4 class="my-1 text-dark">8.4K</h4>
										<p class="mb-0 font-13 text-dark"><i class="bx bxs-up-arrow align-middle"></i>$24 from last week</p>
									</div>
									<div class="widgets-icons bg-white text-dark ms-auto"><i class="bx bxs-group"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock content %}