{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}" />
{% load static %}
{% block content %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Sport App</div>  
        <div class="ps-3">
            <nav aria-label="breadcrumb" style="display: flex;">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt" style="padding-top: 7px;"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"style="padding-top: 7px;" >Sport turi</li>
                </ol>
                <a href="{% url 'update-object' object.id %}" type="button" class="btn btn-success px-3" style="margin-left: 500px; font-size: large;">Tahrirlash <i class="bx bx-pencil" style="padding-left: 7px;"></i></a>
                <form action="{% url 'delete-object'%}" method="get" >
                    <button type="submit" class="btn btn-danger px-3" style="margin-left: 100px; font-size: large;" name="object_id" value="{{object.id}}">O`chirish<i class="bx bx-trash" style="margin-left: 7px;" ></i></button>
                </form>
            </nav>
        </div>
        
    </div>
    <!--end breadcrumb-->

    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 ">
            <div class="card">
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for img in object.images.all %}
                            <div class="carousel-item active">
                                <img src="{{ img.image.url }}" class="d-block w-100" alt="img">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">	<span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6" style="padding: 1% ;">
                <div class="card-body">
                    <h1 class="card-title">{{object.name}}</h1>
                    <div class="d-flex gap-3 py-3">
                        <div class="cursor-pointer">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-secondary'></i>
                        </div>
                        <div>142 reviews</div>
                        <div class="text-success"><i class='bx bxs-cart-alt align-middle'></i> 134 orders</div>
                    </div>
                    <div class="mb-3">
                        <span class="price h4"><i class='bx bx-building'></i>{{object.address}}</span>
                    </div>
                    <div class="mb-3">
                        <span class="price h4"><i class='bx bx-phone'></i> {{object.phone}}</span>
                    </div>
                    <div class="mb-3">
                        <span class="price h4"><i class='bx bxs-time'></i> {{object.date_start}}-</span><span class="price h4">{{object.date_end}}</span>
                    </div>
                    <div class="mb-3">
                        <span class="price h4"><i class='bx bx-calendar'></i>{{object.work_date}}</span>
                    </div>
                    <div class="mb-3">
                        <span class="price h4"><i class='bx bx-building'></i>{{object.area}}</span>
                    </div> <br>
                    <dl class="row">
                        <h6 class="col-sm-3" >Yuvinish xonasi</h6>
                        {% if object.shower == True%}
                        <h6 class="col-sm-2"><i class='bx bxs-check-circle' style="color:green;" ></i></h6>
                        {% else %}
                        <h6 class="col-sm-2"><i class='bx bx-x-circle' style="color: red;" ></i></h6>
                        {% endif %}
                        <h6 class="col-sm-5">Kiyim almashtirish xonasi</h6>
                        {% if object.changing_room == True %}
                        <h6 class="col-sm-2"><i class='bx bxs-check-circle' style="color:green;" ></i></h6>
                        {% else %}
                        <h6 class="col-sm-2"><i class='bx bx-x-circle' style="color: red;" ></i></h6>
                        {% endif %}
                        <h6 class="col-sm-3">Yoritish chiroqlari</h6>
                        {% if object.lighting == True %}
                        <h6 class="col-sm-2"><i class='bx bxs-check-circle'  style="color:green;"></i></h6>
                        {% else %}
                        <h6 class="col-sm-2"><i class='bx bx-x-circle' style="color: red;" ></i></h6>
                        {% endif %}
                        <h6 class="col-sm-5">O'rindiqlar</h6>
                        {% if object.tribunes == True %}
                        <h6 class="col-sm-2"><i class='bx bxs-check-circle'  style="color:green;"></i></h6>
                        {% else %}
                        <h6 class="col-sm-2"><i class='bx bx-x-circle' style="color: red;" ></i></h6>
                        {% endif %}
                        <h6 class="col-sm-3">Parkovka</h6>
                        {% if object.parking == True %}
                        <h6 class="col-sm-2"><i class='bx bxs-check-circle'  style="color:green;"></i></h6>
                        {% else %}
                        <h6 class="col-sm-2"><i class='bx bx-x-circle' style="color: red;" ></i></h6>
                        {% endif %}
                        <h6 class="col-sm-5">Ta`mirlangan vaqti</h6>
                        <h6 class="col-sm-2">{{object.invent_date   }}</i></h6>
                    </dl> <br>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col"></div>
            <div class="col-md-11">
                <p class="card-text fs-6">{{object.description}}</p>
            </div>  
            <div class="col"></div>
        </div>
        <hr/>
        <div class="card">
            <div class="card-body">
                <div id="simple-map" class="gmaps"></div>
            </div>
        </div>
    </div>


{% endblock content %}
{% block js %}
<!-- google maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKXKdHQdtqgPVl2HI2RnUa_1bjCxRCQo4&callback=initMap" async defer></script>
<script src="{% static 'assets/plugins/gmaps/map-custom-script.js' %}"></script>
{% endblock js %}
