{% extends 'base.html' %}
{% block content %}
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Sport App</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Yangi buyurtmalar</li>
            </ol>
        </nav>
    </div>

</div>

<div class="card">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ism</th>
                    <th scope="col">Obyekt nom</th>
                    <th scope="col">Manzil</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Email</th>
                    <th scope="col">O`zgartirish</th>
                    <th scope="col">O`chirish</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ob.full_name}}</td>
                    <td>{{ob.object_name}}</td>
                    <td>{{ob.address}}</td>
                    <td>{{ob.phone}}</td>
                    <td>{{ob.email}}</td>
                    <td>
                        <div class="col">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success px-2"  data-bs-toggle="modal" data-bs-target="#exampleSmallModal2"><i class="lni lni-arrow-top-right" style="margin-left: 5px;" ></i></button>
                            <!-- Modal -->
                            <div class="modal fade2" id="exampleSmallModal2" tabindex="-1" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;">Buyurtmani xolatini o`zgartirish</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="post" action="{% url 'change-order-url' ob.id %}" >
                                            {% csrf_token %}
                                        <div class="col-12">
                                            <div class="form-check">
                                                <label class="form-check-label" for="gridCheck">Qabul qilish</label>
                                                <input class="form-check-input" type="checkbox" id="gridCheck" name="QABUL">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check">
                                                <label class="form-check-label" for="gridCheck">Rad etish</label>
                                                <input class="form-check-input" type="checkbox" id="gridCheck" name="RAD" >
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                                            <button type="submit" class="btn btn-primary">Saqlash</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="{% url 'delete-order-url' %}" method="get">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger px-2"  data-bs-toggle="modal" data-bs-target="#exampleSmallModal"><i class="bx bx-trash" style="margin-left: 5px;"></i></button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleSmallModal" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;">Buyurtmani o`chirmoqchimisiz?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer" style="justify-content: center;">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qaytish</button>
                                            <button type="submit" class="btn btn-danger" name="object_id" value="{{ob.id}}">O`chirish</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function () {
        $('.form-check-input').on('change', function () {
            $('.form-check-input').not(this).prop('checked', false);
            $('#result').html($(this).data("id"));
            if ($(this).is(":checked"))
                $('#result').html($(this).data("id"));
            else
                $('#result').html('Empty...!');
        });
    });
</script>
{% endblock js %}