{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}"/>

    <link href="{% static 'assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/css/select2-bootstrap4.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/plugins/notifications/css/lobibox.min.css' %}"/>
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}"/>
{% endblock css %}
{% block content %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">SportApp</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Sport obyektini tahrirlash</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->

    <div class="card" style="width:100%;">
        <div class="card-body p-4" style="width:100%;">
            <div class="container" style="width:100%;margin: 0;padding: 0;">
                <div class="row" style="width:100%; ">
                    <div class="col" style="width:100%;">
                        <h5 class="card-title">Sport obyektini tahrirlash</h5>
                    </div>
                    <div class="col" style="text-align: center;">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary " data-bs-toggle="modal"
                                data-bs-target="#exampleVerticallycenteredModal">Kategoriya qo`shish
                        </button>
                        <!-- Modal -->
                        <form method="post" action="{% url 'update-object-post' form.pk %}">
                            {% csrf_token %}
                            <div class="modal fade" id="exampleVerticallycenteredModal" tabindex="-1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Kategoriya qo`shing</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <input type="text" class="form-control" placeholder="..."
                                               name="name">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Qaytish
                                            </button>
                                            <button type="submit" class="btn btn-primary">Saqlash</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col" style="text-align:end;">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary " data-bs-toggle="modal"
                                data-bs-target="#exampleVerticallycenteredModal2">Foydalanuvchilar turini qo`shish
                        </button>
                        <!-- Modal -->
                        <form action="{% url 'add-type-url' %}" method="post">
                            {% csrf_token %}
                            <div class="modal fade" id="exampleVerticallycenteredModal2" tabindex="1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Foydalanuvchilar turini qo`shing</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <input type="text" class="form-control" placeholder="..."
                                               name="name">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Qaytish
                                            </button>
                                            <button type="submit" class="btn btn-primary">Saqlash</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-body mt-4">

            <form enctype="multipart/form-data" method="post" action="{% url 'update-object-post' form.id %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8">
                        <div class="border border-3 p-4 rounded">
                            <div class="mb-3">
                                <label for="inputProductTitle" class="form-label">Nomi</label>
                                <input type="text" class="form-control" id="inputProductTitle" placeholder="nomi"
                                       name="name" required value="{{ form.name }}">
                            </div>
                            <div class="mb-3">
                                <label for="inputProductDescription" class="form-label">Ta`rifi</label>
                                <textarea class="form-control" id="inputProductDescription" rows="3"
                                          name="description">{{ form.description }}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="inputProductDescription" class="form-label">Rasmlari</label>
                                <input type="file" name="images" id="image_input"
                                       accept="image/*" style="display: none">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="button"
                                                style="height: 100px; width: 120px; font-size: 16px"
                                                onclick="open_image_input()"
                                                class="btn btn-success"><i class="bx bx-image-add" style="font-size: 32px"></i> </button>
                                    </div>
                                    <div class="col-md-2" style="display: none" id="new_image_col">
                                        <div style="display: flex">
                                        <img src="" id="image_new" width="120" height="100">
                                            <div>
                                                <button class="btn btn-info" type="button" onclick="add_image({{ form.id }})"
                                                        style="width: 28px; height: 28px; font-size: 12px; margin: 1px; padding: 2px">
                                                    <i class="bx bx-check"></i></button>
                                                <button class="btn btn-danger" type="button" onclick="clear_new_image()"
                                                        style="width: 28px; height: 28px; font-size: 12px; margin: 1px; padding: 2px">
                                                    <i class="bx bx-trash"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    {% for img in form.images.all %}
                                        <div class="col-md-2">
                                            <div style="display: flex">
                                                <img src="{{ img.image.url }}" width="120" height="100">
                                                <button class="btn btn-danger"  type="button" onclick="delete_image({{ img.id }},{{ form.id }})"
                                                        style="width: 28px; height: 28px; font-size: 12px; margin: 1px; padding: 2px">
                                                    <i class="bx bx-trash"></i></button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="inputProductTitle" class="form-label">Lakatsiya uzunlik</label>
                                <input type="number" step="0.00000000000001" class="form-control" id="lc_lat" name="lat"
                                       value="{{ form.lat }}"
                                       placeholder="Uzunlik" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputProductTitle" class="form-label">Lakatsiya kenglik</label>
                                <input type="number" step="0.00000000000001" class="form-control" id="lc_lng" name="lng"
                                       value="{{ form.lng }}"
                                       placeholder="Kenglik" required>
                            </div>
                            <div class="mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="simple-map" class="gmaps"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border border-3 p-4 rounded">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label for="inputProductTags" class="form-label">Manzili</label>
                                    <input type="text" class="form-control" name="address" value="{{ form.address }}">
                                </div>
                                <div class="col-12">
                                    <label for="inputProductTags" class="form-label">Tel raqam</label>
                                    <input value="{{ form.phone }}" type="text" class="form-control" name="phone"/>
                                </div>
                                <div class="col-12">
                                    <label for="inputProductTags" class="form-label">Ish kunlari</label>
                                    <input type="text" class="form-control" name="work_date" required
                                           value="{{ form.work_date }}">
                                </div>
                                <div class="col-12">
                                    <label for="inputProductTags" class="form-label">Obyekt hajmi</label>
                                    <input type="text" class="form-control" id="inputProductTags" name="area" required
                                           value="{{ form.area }}">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Kategoriyasi</label>
                                    <select class="multiple-select" data-placeholder="Choose anything"
                                            multiple="multiple" id="category_select" name="category">
                                        {% for cat in categories %}
                                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label for="inputProductTags" class="form-label">Ta`mirlangan vaqti </label>
                                    <input type="date" class="form-control" id="category_select"
                                           value="{{ form.invent_date|date:'Y-m-d' }}"
                                           name="invent_date" required>
                                </div>
                                <div class="col-12">
                                    <label for="inputProductType" class="form-label">Foydalanuvchilar turi</label>
                                    <select class="form-select" id="inputProductType" name="type" required>
                                        {% for type in types %}
                                            {% if type.id == form.type.id %}
                                                <option value="{{ type.id }}" selected>{{ type.name }}</option>
                                            {% else %}
                                                <option value="{{ type.id }}">{{ type.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPrice" class="form-label">Ochilish vaqti</label>
                                    <input type="time" class="form-control" id="inputPrice" name="date_start"
                                           value="{{ form.date_start|time:'H:i' }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCompareatprice" class="form-label">Yopilish vaqti</label>
                                    <input type="time" class="form-control" id="inputCompareatprice" name="date_end"
                                           value="{{ form.date_end|time:'H:i' }}">
                                </div>
                                <div class="col-6">
                                    <div class="form-check mb-3">
                                        {% if form.shower == True %}
                                            <input type="checkbox" class="form-check-input" name="shower" checked>
                                        {% else %}
                                            <input type="checkbox" class="form-check-input" name="shower">
                                        {% endif %}
                                        <label class="form-check-label" for="validationFormCheck1">Yuvinish
                                            xonasi</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check mb-3">
                                        {% if form.changing_room == True %}
                                            <input type="checkbox" class="form-check-input" name="changing_room"
                                                   checked>
                                        {% else %}
                                            <input type="checkbox" class="form-check-input" name="changing_room">
                                        {% endif %}
                                        <label class="form-check-label" for="validationFormCheck1">Kiyinish
                                            xonasi</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check mb-3">
                                        {% if form.lighting == True %}
                                            <input type="checkbox" class="form-check-input" name="lighting" checked>
                                        {% else %}
                                            <input type="checkbox" class="form-check-input" name="lighting">
                                        {% endif %}
                                        <label class="form-check-label" for="validationFormCheck1">Yoruqlik</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check mb-3">
                                        {% if form.tribunes == True %}
                                            <input type="checkbox" class="form-check-input" name="tribunes" checked>
                                        {% else %}
                                            <input type="checkbox" class="form-check-input" name="tribunes">
                                        {% endif %}
                                        <label class="form-check-label" for="validationFormCheck1">O`rindiqlar</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check mb-3">
                                        {% if form.parking == True %}
                                            <input type="checkbox" class="form-check-input" name="parking" checked>
                                        {% else %}
                                            <input type="checkbox" class="form-check-input" name="parking">
                                        {% endif %}
                                        <label class="form-check-label" for="validationFormCheck1">Avto turargox</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check mb-3">
                                        {% if form.is_active == True %}
                                            <input type="checkbox" class="form-check-input" name="is_active" checked>
                                        {% else %}
                                            <input type="checkbox" class="form-check-input" name="is_active">
                                        {% endif %}
                                        <label class="form-check-label" for="validationFormCheck1">Faolligi</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary px-5"
                                style="float: right; margin: 7px;">Saqlash
                        </button>
                    </div>
                </div>
            </form>

            <!--end row-->
        </div>
    </div>
    </div>
{% endblock content %}
{% block js %}
    {#    <script src="{% static 'assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js' %}"></script>#}
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/js/lobibox.min.js' %}"></script>
    <script src="{% static 'assets/plugins/notifications/js/notifications.min.js' %}"></script>
    {% for cat in form.category.all %}
        <script type="text/javascript">
            $("#category_select option[value='" + "{{cat.id}}" + "']").prop("selected", true);
        </script>
    {% endfor %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <script>
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        icon: 'bx bx-x-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'top right',
                        msg: '{{ message }}'
                    });
                </script>
            {% endif %}
            {% if message.tags == "success" %}
                <script>
                    Lobibox.notify('success', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        rounded: true,
                        icon: 'bx bx-check-circle',
                        delayIndicator: false,
                        continueDelayOnInactiveTab: false,
                        position: 'top right',
                        msg: '{{ message }}'
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <script>
    function delete_image(id,object_id){
        $.ajax({
           type:'get',
           url:"{% url 'delete_image' %}",
            header:'X-Frame-Options',
           data:{object_id:object_id,image_id:id},
           success:function (context){
               if (context['success'] === true){
                   document.location.reload();
               }
           }
        });
    }
    function add_image(object_id){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var img = document.getElementById('image_input');
        var data = new FormData();
        data.append("object_id",object_id)
        data.append("img", img.files[0])
        $.ajax({
           type:'post',
           url:"{% url 'add_image' %}",
           headers:{
                "X-CSRFToken": csrftoken,
            },
            processData: false,
            contentType: false,
           data:data,
           success:function (context){
               if (context['success'] === true){
                   document.location.reload();
               }
           }
        });
    }
    </script>
    <script>
        document.getElementById('image_input').onchange = function () {
              var src = URL.createObjectURL(this.files[0])
              document.getElementById('image_new').src = src
            document.getElementById('new_image_col').style.display='block';
            }

        function clear_new_image(){
            document.getElementById('image_new').src = ""
            document.getElementById('new_image_col').style.display='none';
        }
        function open_image_input (){
            $("#image_input").click()
        }

        $('.multiple-select').select2({
            theme: 'bootstrap4',
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKXKdHQdtqgPVl2HI2RnUa_1bjCxRCQo4&callback=initMap"
            async
            defer></script>



    <script >
    function initMap() {
            let Lat = parseFloat('{{ form.lat }}')
            let Lng = parseFloat('{{ form.lng }}')
            let mapOptions = {
                center: {lat: Lat, lng: Lng},
                zoom: 6
            }

            let map = new google.maps.Map(document.getElementById('simple-map'), mapOptions)

            let markerOptions = {
                position: new google.maps.LatLng(Lat, Lng)
            }

            let marker = new google.maps.Marker(markerOptions)

            marker.setMap(map)
            map.addListener("click", (clickEvent) => {
                marker.setPosition(clickEvent.latLng)
                document.getElementById('lc_lat').value = parseFloat(clickEvent.latLng.lat())
                document.getElementById('lc_lng').value = parseFloat(clickEvent.latLng.lng())
            });
        }
    </script>
    <!--app JS-->
{% endblock js %}