{% extends 'users/base.html' %}
{% load static %}
{% block css %}

<style>
	.checked {
		color: orange;
	}
</style>
{% endblock css %}

{% block content %}

<!-- ============ TITLE START ============ -->

<section id="title">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center" style="margin-top: 30px;">
				<h1>{{object.name}}</h1>
				<h4 style="margin-top: 14px;">
					<span style="font-size: 20px;margin-top: 0px;"><i class="fa fa-map-marker"></i>{{object.address}}</span>
					<span style="font-size: 20px;margin-top: 0px;"><i class="fa fa-clock-o"></i>{{object.date_start}} / {{object.date_end}}</span>
					<span id="rateMe1" style="font-size: 20px;margin-top: 0px;">{{object.phone}}</span>
				</h4>
			</div>
		</div>
	</div>
</section>

<!-- ============ TITLE END ============ -->

<!-- ============ CONTENT START ============ -->

<section id="jobs">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<article>
					<!-- <h2>Job Details</h2> -->
					<img style="width: 95%;height: auto;"
						src="https://impulse-fitness.com.ua/image/catalog/Photo/newImpulseMax-photo16.jpg" alt="">
					<h3>Description </h3>
					<ul style="margin-left: -60px;">
						<p style="padding:30px;">{{object.description}}</p>
					</ul>

				</article>
			</div>
			<div class="col-sm-4" id="sidebar">
				<div class="sidebar-widget" id="share">
					<div class="sidebar-widget" id="company" style="display: flex;justify-content: center;">
						<div>
							<h2>Items that Available</h2>
							<div style="display: flex;width: 300px;justify-content: space-between;">
								<span>Dush </span>
								<p class="fa fa-star fa-check-square-o"
									style="margin-left: 14px;font-size: 20px;display:block;color:orange;"></p>
							</div>
							<div style="display: flex;width: 300px;justify-content: space-between;">
								<span>Kiyinish xonasi </span>
								<p class="fa fa-star fa-times"
									style="margin-left: 14px;font-size: 20px;display:block;color: red;"></p>
							</div>
							<div style="display: flex;width: 300px;justify-content: space-between;">
								<span>Avtoturargoh</span>
								<p class="fa fa-star fa-check-square-o"
									style="margin-left: 14px;font-size: 20px;display:block;color:orange;"></p>
							</div>
							<div style="display: flex;width: 300px;justify-content: space-between;">
								<span>O'rindiqlar</span>
								<p class="fa fa-star fa-check-square-o"
									style="margin-left: 14px;font-size: 20px;display:block;color:orange;"></p>
							</div>
							<div style="display: flex;width: 300px;justify-content: space-between;">
								<span>Yoritish chiroqlari</span>
								<p class="fa fa-star fa-check-square-o"
									style="margin-left: 14px;font-size: 20px;display:block;color:orange;"></p>
							</div>
						</div>
	
					
					</div>
					
					<div style="display: flex;justify-content: center;">
						<div>
							<h2>Fitnes Club Infos</h2>
							<ul style="width: 250px;display: flex;align-items: center;margin-bottom: 24px;">
								{% for c in object.category.all %}
								<span class="btn btn-primary btn-primary"style="margin-right: 10px;width:auto;height:35px;">{{c}}</span>
								{% endfor %}
							</ul>
							<ul style="width: 160px;">
								<span class="fa fa-star fa-2x checked" style="color:orange"></span>
								<span class="fa fa-star  fa-2x  checked" style="color:orange"></span>
								<span class="fa fa-star  fa-2x checked" style="color:orange"></span>
								<span class="fa fa-star fa-2x "></span>
								<span class="fa fa-star fa-2x "></span>
							</ul>
							<ul style="width: 250px;display: flex;align-items: center;margin-top: 15px;">
								<span class="fa" style="font-size: 20px;">143 reviews </span>
								<span class="fa " style="margin-left: 14px;font-size: 20px;">127
									orders</span>
							</ul>
						</div>
					</div>

					<div style="display: flex;justify-content: center;">
						<div>
							<ul style="width: 250px;display: flex;align-items: center;margin-top: 15px;">
								<span class="fa" style="font-size: 20px;"><i class="fa fa-thumb-tack" aria-hidden="true"
										style="margin-right: 20px;"></i>{{object.type.name}} uchun</span>
							</ul>
							<ul style="width: 250px;display: flex;align-items: center;margin-top: 15px;">
								<span class="fa" style="font-size: 20px;"><i class="fa fa-calendar" aria-hidden="true"
										style="margin-right: 20px;"></i>{{object.work_date}}</span>
							</ul>
							<ul style="width: 250px;display: flex;align-items: center;margin-top: 15px;">
								<span class="fa" style="font-size: 20px;"><i class="fa fa-building" aria-hidden="true"
										style="margin-right: 20px;"></i>{{object.area}}</span>
							</ul>
							<ul style="width: 250px;display: flex;align-items: center;margin-top: 15px;">
								<span class="fa" style="font-size: 20px;"><i class="fa fa-area-chart" aria-hidden="true"
										style="margin-right: 20px;"></i>{{object.invent_date}}</span>
							</ul>
						</div>
					</div>


				</div>
				<hr>
				

			</div>
		</div>
	</div>
</section>
<div>
	<div id="simple-map" style="width:100%;height:450px;margin-top: -50px;"></div>
</div>
<!-- <footer style="width: 100%;height: 400px;background-color: orange;">
	footer here ...
</footer> -->

<!-- ============ CONTENT END ============ -->

{% endblock content %}
{% block js %}

    <script>
    function initMap() {
        let Lat = parseFloat('{{ object.lat }}')
        let Lng = parseFloat('{{ object.lng }}')
        let mapOptions = {
            center: {lat: Lat, lng: Lng},
            zoom: 6
        }

        let map = new google.maps.Map(document.getElementById('simple-map'), mapOptions)

        let markerOptions = {
            position: new google.maps.LatLng(Lat, Lng)
        }

        let marker = new google.maps.Marker(markerOptions)

        marker.setMap(map)
    }
    </script>
{% endblock js %}